<nav class="navbar navbar-expand-lg" style="background-color: rgb(127, 255, 157);">
    <div class="container-fluid ">
        <div style="max-width: 100px; max-height: 100px;">
            <img style="max-width: 50px; max-height: 50px;" src="https://images.vexels.com/media/users/3/135984/isolated/preview/11c3e3e5d2a2c47fef7926854010d767-icono-de-carpeta-de-archivos.png">
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text" style="font-size: large;">
                <li class="nav-item">
                    <a class="nav-link" href="/router/datos">Registro de Facturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/router/guardarFactura">Nueva Factura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedor/datos">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedor/nuevoProveedor">Nuevo Proveedor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/login?">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>